<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RadioStation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BE834F71D21FDB100E65E3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE8350B1D21FDB100E65E3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE835161D21FDB200E65E3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
